/* add custom styles */
/*
.container {

  float: left;
}*/

.idea-list {
  text-align: left;
  max-width: 100%;
}

.inline {
    display: inline-block;
}

/*div {
  display: inline-block;
  max-width: 100%;
}*/

p {
  display: block;
}

#arrow-landing {
  display: block;
  margin-top: 10px;
}

#all-ideas {
  display: block;
  margin-top: 10px;
}

form, input {
/*  width: 260px;*/
  display: inline-block;
}

.short {
  font-size: 2.0em;
}

.long {
  font-size: 1.4em;
}

p {
  padding: -12px 0;
  margin: -12px 0;
}

#arrows {
  display: inline-block;
}


.enlarge {
  font-size: 2.5em;
  padding: -10px;
  margin: -10px;
}

.container-fluid {
  margin-left: -10px;
  margin-top: -5px;
}

.fixed {
  position: absolute;
}

/*
#left-diagonal-arrow {
    background: url('/images/diagonal-left-arrow-reduced.png') no-repeat top left;
    padding: 16px;
    height: 16px;
}*/
